body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.reloj {
    font-size: 2rem;
    font-weight: bold;
}

.fecha {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}